.cursor-pointer {
  cursor: pointer;
}
/* client */

.nav-tabs .nav-link.active {
  background-color: white;
}

/* modal */
.custom-modal {
  width: 50%;
  max-width: 700px;
  /* position: absolute; */
  /* left: 50%; */
  /* top:20% */
}

/* form input */
.modal .modal-content input.form-control,
.custom-input {
  border: none;
  border-bottom: 1px solid #d5dfe7;
  border-radius: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
