.cursor-pointer {
  cursor: pointer;
}
/* client */

.nav-tabs .nav-link.active {
  background-color: white;
}

/* modal */
.custom-modal {
  /* width: 50%; */
  max-width: 700px;
  /* position: absolute; */
  /* left: 50%; */
  /* top:20% */
}

/* form input */
.modal .modal-content input.custom-input,
.custom-input {
  border: none;
  border-bottom: 1px solid #d5dfe7;
  border-radius: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.table.custom-table-bordered {
  border: 0.0625rem solid #E6EBEE; }
.table .thead-table th {
  background-color: #E6EBEE;
  color: #000; }
.amenity-count {
  font-size: 10px;
  color:#5ab5eb;
  margin-bottom: 2px;
}
.package {
  min-height: 50vh;
}
.day-circle{
  /* padding: 1rem; */
  width: 1.6rem;
  height: 1.6rem;
}
.schedule-box{
  background-color: #ebf2ff;
  height: 100%;
}
.setup-modal{
  max-width: 1000px;
}
.schedule-card{
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  border-top: 2px solid #fff;
  width: 96%;
}
.schedule-card .card-body{
  padding: 1rem;
}
.flex-1{
  flex:1
}
.custom-img-container{
  width: 3rem;
  height: 3rem;
}
.custom-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.insert-modal{
  max-width: 800px;
}
.itinery-card{
  width: 24%;
}
.itinery-img{
  height: 50%;
  width: 100%;
  /* border-radius: 1rem; */
  border-radius: 1rem 1rem 0 0;
}
.itinery-card .details{
  border: 1px solid #eee;
  border-radius: 0 0 1rem 1rem;
}
.itinery-card .details button{
  padding: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
.custom-tr td{
  border-top:1px solid red
}
.package-table thead th{
  color:#000!important
}
.package-table td input{
  width: 5rem;
  padding: .5rem 0 .5rem 0.5rem;
}