.cursor-pointer {
  cursor: pointer;
}
/* client */

.nav-tabs .nav-link.active {
  background-color: white;
}

/* modal */
.custom-modal {
  width: 50%;
  max-width: 700px;
  /* position: absolute; */
  /* left: 50%; */
  /* top:20% */
}

/* form input */
.modal .modal-content input.form-control,
.custom-input {
  border: none;
  border-bottom: 1px solid #d5dfe7;
  border-radius: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.table.custom-table-bordered {
  border: 0.0625rem solid #E6EBEE; }
.table .thead-table th {
  background-color: #E6EBEE;
  color: #000; }
.amenity-count {
  font-size: 10px;
  color:#5ab5eb;
  margin-bottom: 2px;
}
