

.cursor-pointer {
  cursor: pointer;
}

.bg-main {
  background-color: #E6EBEE;
}

.text-neutral {
  color: #d5dfe7;
}

/* client */

.nav-tabs .nav-link.active {
  background-color: white;
}

/* modal */
.custom-modal {
  /* width: 50%; */
  max-width: 700px;
  /* position: absolute; */
  /* left: 50%; */
  /* top:20% */
}

/* form input */
.modal .modal-content input.custom-input,
.custom-input {
  border: none !important;
  border-bottom: 1px solid #d5dfe7 !important;
  border-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#example2_wrapper .table{
  min-height: 260px;
}
#example2_wrapper .table tbody tr td{
  vertical-align: top;
}

.table.custom-table-bordered {
  border: 0.0625rem solid #E6EBEE;
}

.table .thead-table th {
  background-color: #E6EBEE;
  color: #000;
}

.amenity-count {
  font-size: 10px;
  color: #5ab5eb;
  margin-bottom: 2px;
}

.package {
  min-height: 50vh;
}

.day-circle {
  /* padding: 1rem; */
  width: 1.6rem;
  height: 1.6rem;
}

.schedule-box {
  background-color: #ebf2ff;
  height: 100%;
}

.setup-modal {
  max-width: 1000px;
}

.schedule-card {
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  border-top: 2px solid #fff;
  width: 96%;
}

.schedule-card .card-body {
  padding: 1rem;
}

.flex-1 {
  flex: 1
}

.custom-img-container {
  width: 3rem;
  height: 3rem;
}

.custom-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.insert-modal {
  max-width: 800px;
}

.itinery-card {
  width: 24%;
}

.itinery-img {
  height: 50%;
  width: 100%;
  /* border-radius: 1rem; */
  border-radius: 1rem 1rem 0 0;
}

.itinery-card .details {
  border: 1px solid #eee;
  border-radius: 0 0 1rem 1rem;
}

.itinery-card .details button {
  padding: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.custom-tr td {
  border-top: 1px solid red
}

.package-table thead th {
  color: #000 !important
}

.package-table td input {
  width: 5rem;
  padding: .5rem 0 .5rem 0.5rem;
}

.custom-wrap {
  white-space: initial !important;
}

#empty-table-data {
  height: 100px;
}

#empty-table-data td {
  font-size: 1.2rem;
  font-weight: 600;
}
.custom-first-cell {
  max-width: 2rem;
}
.form-section {
  background-color: #fdfdfd;
  padding: .5rem 0;
  margin-bottom: 1.4rem;
  border:1px solid #eee;
  border-radius: .5rem;
}
.payment-detail {
  background-color: #eee;
  padding: .5rem;
}
/* .payment-detail-cell {
  border-right: 2px solid #fff;
  padding:0 .8rem;
} */
.payment-card , .payment-detail{
  border-radius: 8px;
}
.form-control:disabled {
/* background-color: #f2f2f2 !important; Change this to your desired background color */
  /* color: #888  !important; Change this to your desired text color */
  border-color: transparent !important;
  padding:0 !important;
  height: 40px !important;
  cursor: not-allowed; /* Optional: Change cursor style */
}